#brand, #menu-bar, #logo{
    margin:0;
}

#search-bar input{
    width: 500px;
}

.ui.cards>.card>.image{
    background: rgba(0,0,0,0);
}

.scrolling.dimmable.dimmed>.dimmer {
    overflow: auto;
}

#cardId{
    display: block;
}

.ui.inverted.icon.standard.delete.button{
    box-shadow: 0 0 0 0 !important;
}

.ui.inverted.icon.standard.edit.button{
    box-shadow: 0 0 0 0 !important;
}

#deledit-btn{
    position: absolute;
    z-index: 10;
    margin: 5px;
}

